*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#a404cc , #ceaeee,#a404cc);
    background-size: 400% 400%;
    animation: animaFundo 10s ease-in-out infinite alternate;
}
@keyframes animaFundo {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{   
        background-position: 0 50%;
    }
}

.vetor-form img{
    height: 550px;
    animation: animaFormVetor 2.5s ease-in-out infinite alternate;
}

@keyframes animaFormVetor{
    0%{
        transform: perspective(500px) rotateY(10deg);
        filter: drop-shadow(-20px 6px 15px #373636);
    }
    100%{
        transform: perspective(500px) rotateY(-1deg);
        filter: drop-shadow(-5px 5px 10px #373636);
    }
}
.form-group{
    width: 650px;
    height: 520px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 15px 9px 5px rgba(0, 0, 0, 0.5),
                inset 2px 2px 2px  1px #591967;
}

.area-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    position: relative;
}

.area-inputs input{
    height: 40px;
    padding: 10px;
    position: relative;
}

.area-inputs span{
    position: absolute;
    padding-left: 10px;
    top: 10px;
    opacity: 0.5;
    transition: 0.6s;
}
.area-inputs input:focus ~ span,
.area-inputs input:valid ~ span,
textarea:focus ~ span,
textarea:valid ~ span{
    transform: translateY(-33px);
    opacity: 1;
    color: #000000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}

textarea{
    resize: none;
    padding: 10px;
}

button{
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #7906ae;
    color: #fff;
    font: bold 20px/50px 'Roboto', sans-serif;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px #b909ff80;
    transition: 0.5s;
}


button:hover{
    height: 50px;
    border-radius: 2px;
    margin-top: 20px;
    background-color: rgb(194, 10, 197);
    color: #fff;
    font: bold 20px/50px 'Roboto', sans-serif;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}



